<a href="https://colab.research.google.com/github/graphy-young/algorithm/blob/main/Baekjoon%20Online%20Judge/5_1%EC%B0%A8%EC%9B%90_%EB%B0%B0%EC%97%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 5. 1차원 배열

    배열을 사용해 봅시다.

## 10818. 최소, 최대

### 문제
    N개의 정수가 주어진다. 이때, 최솟값과 최댓값을 구하는 프로그램을 작성하시오.

### 입력
    첫째 줄에 정수의 개수 N (1 ≤ N ≤ 1,000,000)이 주어진다. 둘째 줄에는 N개의 정수를 공백으로 구분해서 주어진다. 모든 정수는 -1,000,000보다 크거나 같고, 1,000,000보다 작거나 같은 정수이다.

### 출력
    첫째 줄에 주어진 정수 N개의 최솟값과 최댓값을 공백으로 구분해 출력한다.

### 예제 입력 1 
    5
    20 10 35 30 7
### 예제 출력 1 
    7 35

### Code

In [1]:
digitNums = int(input())
numbers = list(map(int, input().split()))

print(min(numbers), max(numbers))

5
20 10 35 30 7
35 7

## 2562. 최댓값

### 문제
    9개의 서로 다른 자연수가 주어질 때, 이들 중 최댓값을 찾고 그 최댓값이 몇 번째 수인지를 구하는 프로그램을 작성하시오.
    
    예를 들어, 서로 다른 9개의 자연수
    
    3, 29, 38, 12, 57, 74, 40, 85, 61
    
    이 주어지면, 이들 중 최댓값은 85이고, 이 값은 8번째 수이다.

### 입력
    첫째 줄부터 아홉 번째 줄까지 한 줄에 하나의 자연수가 주어진다. 주어지는 자연수는 100 보다 작다.

### 출력
    첫째 줄에 최댓값을 출력하고, 둘째 줄에 최댓값이 몇 번째 수인지를 출력한다.

### 예제 입력 1 
    3
    29
    38
    12
    57
    74
    40
    85
    61

### 예제 출력 1 
    85
    8

### Code

In [3]:
maxValue = 0
cnt = 0

for i in range(9):
  digit = int(input())
  if maxValue < digit:
    maxValue = digit
    cnt = i + 1  
  else:
    continue
else:
  print(maxValue)
  print(cnt)

3
29
38
12
57
74
40
85
61
85
8

## 2577. 숫자의 개수

### 문제
    세 개의 자연수 A, B, C가 주어질 때 A×B×C를 계산한 결과에 0부터 9까지 각각의 숫자가 몇 번씩 쓰였는지를 구하는 프로그램을 작성하시오.
    
    예를 들어 A = 150, B = 266, C = 427 이라면 
    
    A × B × C = 150 × 266 × 427 = 17037300 이 되고, 
    
    계산한 결과 17037300 에는 0이 3번, 1이 1번, 3이 2번, 7이 2번 쓰였다.

### 입력
    첫째 줄에 A, 둘째 줄에 B, 셋째 줄에 C가 주어진다. A, B, C는 모두 100보다 같거나 크고, 1,000보다 작은 자연수이다.

### 출력
    첫째 줄에는 A×B×C의 결과에 0 이 몇 번 쓰였는지 출력한다. 마찬가지로 둘째 줄부터 열 번째 줄까지 A×B×C의 결과에 1부터 9까지의 숫자가 각각 몇 번 쓰였는지 차례로 한 줄에 하나씩 출력한다.

### 예제 입력 1 
    150
    266
    427


### 예제 출력 1 
    3
    1
    0
    2
    0
    0
    0
    2
    0
    0

### Code

In [9]:
numbers = 1
for i in range(3):
  numbers *= int(input())
numbers = list(map(int, list(str(numbers))))

for digit in range(10):
  cnt = 0
  for number in numbers:
    if number == digit:
      cnt += 1
  print(cnt)

150
266
427
[1, 7, 0, 3, 7, 3, 0, 0]
3
1
0
2
0
0
0
2
0
0